*{
    margin: 0%;
    padding: 0%;
}
html{
    font-family: sans-serif;
    font-size: 16px;
    text-transform: capitalize;
}
a{
    text-decoration: none;
    color: black;
}
.bg{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 70, 70);
    background-size: 100% 100%;
    overflow: auto;
}

/*      Header */

.header{
    width: 100%;
    height: 5rem;
    background-color: white;
    background-size: 100% 100%;
    border-bottom: .2rem ridge;
    opacity: 0.9;
    overflow: hidden;
}
.header:hover{
    opacity: 1;
}

/*      Logo & Title */

.loti{
    display: inline-flex  ;
}
.logo{
    width: 3rem;
}
.logoDiv{
    z-index: 1;
    display: inline-flex;
    position: relative;
    top: .6rem;
    left: 3rem;
}
.logoDiv:hover{
    transition: 1s;
    background-color: white;
}

.title{
    color: inherit;
    font-size: 2rem;
}
.titleDiv{
    display: inline-flex;
    position: relative;
    top: 1.2rem;
    left: 3.5rem;
}

/*      Menu & Login */

.meln{
    float: right;
    display: flex;
    margin: 1rem 4rem 0rem 0rem;
}
.menuDiv{
    display: inline-flex;
}
.menu{
    width: 3rem;
    padding: .8rem .5rem;
}
.menuDiv:hover .menuBar{
    display: block ;
}
.menuDiv:active{
    background-color: rgb(255, 70, 70);
}
.menuBar{
    width: 15rem;
    height: 13rem;
    display: none;
    background-color: white;
    position:absolute;
    top: 4.8rem;
    right: 1rem;
    z-index: 1;
}
.button{
    margin: .5rem;
    padding: 1rem;
    text-align: center;
}
.button:hover{
    transition: 1s;
    border-radius: 1rem;
    background-color: rgb(255, 70, 70);
}
.loginDiv{
    margin:.5rem 1rem;
    display: inline-flex;
}
.loginDiv:hover{
    transition: 1s;
    background-color: rgb(255, 70, 70);
    border-radius: 1rem;
}

.login{
    padding: .5rem;
    font-size: 1.5rem;
    color: black;
}

/*      Search Phase */

.searchMain{
    width: 100%;
    height: 10rem;
    background-color: white;
    background-size: 100%;
    border-bottom: .2rem ridge;
    opacity: 0.9;
    overflow: hidden;
}
.searchMain:hover{
    z-index: 3;
    transition: 1s;
    opacity: 1;
}
.searchDiv{
    width: 30rem;
    height: 3rem;
    margin: 3rem auto;
}
.search{
    border: ridge;
    border-radius: 1rem;
    background-color: white;
    width: 15rem;
    height: 2rem;
    margin: 0rem 0rem .5rem .5rem;
    padding: .5rem .5rem;
    font-size: 1.5rem;
    text-transform: capitalize;
}
.searchIcon{
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("./icons/search.png");
    background-color: white;
    background-size: 100% 100%;
    position: relative;
    top: .3rem;
    left: -3rem;

}
.orDiv{
    display: inline-block;
}
.uploadDiv{
    position: relative;
    display: inline-flex;
    padding: 1rem;
}
.uploadDiv:hover{
    transition: 1s;
    background-color: rgb(255, 70, 70);
    border-radius: 1rem;
}
.upload{
    font-size: 1.5rem
}

/*      Items Phase */

.playImg{   
    width: 6rem;
    margin: 1;
}
.itemName{
    color: black;
    font-size: .9rem;
    text-align: center;
}
.itemsPhase{
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .9;
    background-size: 100% 100%;
    border-bottom: .2rem ridge;
    overflow: auto;
}
.itemsMain{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border: ridge;
    width: 95%;
    margin: auto;
    overflow: auto;
    list-style: none;
    justify-content: center;
}
.item{
    border: ridge;
    margin: 1rem 1.2rem;
    padding: 1rem;
    background-color: white;
    overflow: auto;
}


                    /* Responsiveness */

@media (max-width:728px){
    html{
        font-size: 14px;
    }
}
@media (max-width:560px){
    html{
        font-size: 12px;
    }
}
@media (max-width:455px){
    html{
        font-size: 10px;
    }
}
@media (max-width: 370px){
    html{
        font-size: 8px;
    }
}
@media (max-width: 280px){
    html{
        font-size: 6px;
    }
}
@media (max-width: 223px){
    html{
        font-size: 5px;
    }
}