*{
    margin: 0%;
    padding: 0%;
}
html{
    font-family: sans-serif;
    font-size: 16px;
    text-transform: capitalize;
}
.bg{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 70, 70);
    background-size: 100% 100%;
    overflow: auto;
}
.header{
    width: 100%;
    height: 5rem;
    background-color: white;
    background-size: 100% 100%;
    border-bottom: .2rem ridge;
    opacity: 0.9;
    overflow: hidden;
}
.header:hover{
    transition: 1s;
    opacity: 1;
}
.title{
    color: inherit;
    font-size: 2rem;
}
.titleDiv{
    display: inline-flex;
    position: absolute;
    top: 1.2rem;
    left: 6.5rem;
    padding: .5rem .5rem .5rem .5rem;
}
.logo{
    width: 3rem;
}
.logoDiv{
    z-index: 1;
    display: inline-block;
    position: relative;
    top: .5rem;
    left: 3rem;
    padding: .4rem .4rem .4rem .5rem;
}
.logoDiv:hover{
    transition: 1s;
    background-color: white;
}
.loti{
    display: inline-block  ;
}
.meln{
    float: right;
    display: inline-block;
    margin: .8rem 7rem 0rem 0rem;
}
.menuDiv{
    position: absolute;
    display: inline-block;
}
.menuDiv:hover .menuBar{
    display: block;
    transition: .5s;
    border-radius: 1rem;

}
.menuDiv:active{
    background-color: rgb(255, 70, 70);
}
.loginDiv{
    margin-top: .3rem;
    margin-right: 1rem;
    position: relative;
    display: inline-block;
}
.loginDiv:hover{
    transition: 1s;
    background-color: rgb(255, 70, 70);
    border-radius: 1rem;
}
.menu{
    width: 3rem;
    padding: .8rem .5rem;
}
.login{
    padding: .5rem;
    font-size: 1.5rem;
    color: black;
}
.menuBar{
    width: 15rem;
    height:13 rem;
    display: none;
    background-color: white;
    position: absolute;
    top: 3rem;
    left: -9rem;
    z-index: 1;
}
.button{
    margin: .5rem;
    padding: 1rem;
    text-align: center;
}
.button:hover{
    transition: 1s;
    border-radius: 1rem;
    background-color: rgb(255, 70, 70);
}
a{
    text-decoration: none;
    color: black;
}
.searchMain{
    width: 100%;
    height: 5rem;
    background-color: white;
    background-size: 100% 100%;
    border-bottom: .2rem ridge;
    opacity: 0.9;
    z-index:3;
    overflow: hidden;
}
.searchMain:hover{
    z-index: 3;
    transition: 1  s;
    opacity: 1;
}
.searchDiv{
    width: 30rem;
    height: 3rem;
    margin: 1rem auto;
}
.search{
    border: ridge;
    border-radius: 1rem;
    background-color: white;
    width: 15rem;
    height: 2rem;
    margin: 0rem 0rem .5rem .5rem;
    padding: .5rem;
    font-size: 1.5rem;
    text-transform: capitalize;
}
.searchIcon{
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("./icons/search.png");
    background-color: white;
    background-size: 100% 100%;
    position: relative;
    top: .3rem;
    left: -3rem;

}
.orDiv{
    display: inline-block;
}
.uploadDiv{
    position: absolute;
    display: inline-block;
    margin:0rem 2rem;
    padding: 1rem;
}
.uploadDiv:hover{
    transition: 1s;
    background-color: rgb(255, 70, 70);
    border-radius: 1rem;
}
.upload{
    font-size: 1.5rem
}



                    /* Responsiveness */

@media (max-width:728px){
    html{
        font-size: 12px;
    }
}
@media (max-width:560px){
    html{
        font-size: 10px;
    }
}
@media (max-width:455px){
    html{
        font-size: 8px;
    }
}
@media (max-width: 370px){
    html{
        font-size: 6px;
    }
}
@media (max-width: 280px){
    html{
        font-size: 5px;
    }
}